name: CI pipeline
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4 
      - name: Build and Push Docker Image
        run: |
          echo "${{ secrets.DOCKER_TOKEN }}" | docker login -u "${{ secrets.USERNAME }}" --password-stdin
          docker build -t mohamedesam123/gcamp_team1:v1 .
          docker push mohamedesam123/gcamp_team1:v1
          
  test:
    runs-on: ubuntu-latest
    needs: build  
    steps:
      - name: Testing
        run: echo "Testing in progress...."

  deploy:
    runs-on: ubuntu-latest
    needs: test  
    steps:
      - name: Deploy Docker Image
        uses: appleboy/ssh-action@v1.0.3
        with:
                host: ${{ secrets.PUBLIC_IP }}
                username: ${{ secrets.NAME }}
                key: ${{ secrets.PRIAVTE_KEY }}
                script: |
                   docker pull mohamedesam123/gcamp_team1
                   docker stop nodejs || true 
                   docker rm nodejs   || true
                   docker run --name nodejs -d -p 8080:3000 mohamedesam123/gcamp_team1:v1
